<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="business">
<!--    添加学生信息-->
    <insert id="appendStudentMessage">
        insert into students(name, id, chinese, math, english)
        values (#{name},#{id},#{chinese},#{math},#{english});
    </insert>
<!--    根据学生姓名修改信息-->
    <update id="fixupStudentMessage">
        update students
        set name=#{name},
        set id=#{id},
        set chinese=#{chinese},
        set math=#{math},
        set english=#{english},
        where name=#{oldName}
    </update>
<!--    删除学生信息-->
    <delete id="deleteStudentMessage">
        delete from student.students
        where name=#{name}
    </delete>
<!--    姓名查询-->
    <select id="queryName" resultType="com.steam404.server.pojo.student">
        select * from students
        where name = #{value}
    </select>
<!--    学号，成绩查询-->
    <select id="queryIdAchievement" resultType="com.steam404.server.pojo.student">
        select * from students
        where id = #{num}
        OR chinese like #{num}
        OR math like #{num}
        OR english like #{num}
    </select>
</mapper>